.btn-shadow {
    box-shadow: 0 0.375em 0 0 black; /* Shadow effect */
}

.text-outline {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.my-btn {
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.my-btn:hover {
    opacity: 0.85; /* fixme make darker */
}

.card-img-top {
    aspect-ratio: 1/1; /* you can adjust this to fit the design */
    object-fit: contain; /* ensures the image fills the area without stretching */
    width: 100%;
}

.nav-link.active {
    border: 2px solid #74c0fc !important;
    box-shadow: 0 0.25em 0 #74c0fc !important;
}

.account-tab {
    transition: none !important; /* Disable transition */
}

.account-tab:hover {
    border: 2px solid #74c0fc !important;
    box-shadow: 0 0.25em 0 #74c0fc !important;
}

.react-calendar {
    /* TODO: customize as needed */
    border-radius: 10px;
    width: 100%;
    font-size: 1.5rem;
}

.react-calendar__tile {
    position: relative;
    aspect-ratio: 1/1;
    padding: 5px;
    border: 1px solid #ddd !important; {/* fixme remove doubled borders */}
}

.react-calendar__tile > abbr {
    position: absolute; /* Position the date in the top-left corner */
    top: 5%;
    left: 5%;
}