.btn-shadow {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 1); /* Shadow effect */
}

.text-outline {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.carousel-indicators button.thumbnail {
    width: 100px;
}
.carousel-indicators button.thumbnail:not(.active) {
    opacity: 0.7;
}
.carousel-indicators {
    position: static;
}