* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom paddings */

.px-6 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.px-7 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.px-8 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.px-9 {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
}

.px-10 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

.py-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.py-7 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.py-8 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

/* Custom margins */
.mx-6 {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}

.mx-7 {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}

.mx-8 {
    margin-left: 6rem !important;
    margin-right: 6rem !important;
}